/* CSS Reset */
* {
    margin: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.loader-wrapper.hidden {
    opacity: 0;
    pointer-events: none;
}

.loader {
    width: 0px;
    height: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #ffffff;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(-100%) rotate(0deg);
    }
    20% {
        transform: translateY(0) rotate(10deg);
    }
    40% {
        transform: translateY(10%) rotate(-10deg);
    }
    60% {
        transform: translateY(0) rotate(5deg);
    }
    80% {
        transform: translateY(-5%) rotate(-5deg);
    }
    100% {
        transform: translateY(-100%) rotate(0deg);
    }
}

.loading-image {
    height: 50%;
    width: 70%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: 15px;
    transition: opacity 0.5s ease;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20pt;
    margin: 0 20px;
}

a:hover {
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}

#heroimg {
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 3px solid white;
    padding: 5px;
    text-align: center;
}

#cover {
    max-width: 100%;
    max-height: 700px;
    border: 1px solid slateblue;
}

.content-container {
    opacity: 0;
    transition: opacity 0.5s ease;
    border: 3px solid rgb(192, 10, 10);
    padding: 5px;
    display: flex;
    margin-top: 20px;
}

.left-content {
    flex: 1;
    border: 3px solid green;
    padding: 10px;
}

.right-content {
    flex-shrink: 0;
    border: 3px solid yellow;
    padding: 10px;
}

#c1 {
    width: 100%;
}

#maps {
    width: 100%;
}

.artists-name {
    border: 3px solid pink;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 20px;
}

#gallery {
    border: 3px solid orange;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 20px;
}

footer {
    text-align: center;
    border: 3px solid blue;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 20px;
}
